html, body { height: 100%; width: 100%; padding: 0px; margin: 0px;}
body { font-family: 'Handlee', cursive; }

div {
	position: relative; 
	overflow: hidden;
}

.port {
	position: absolute;
	top: -100px;
	left: -100px;
	font-size: 0.8em;
	padding: 3px;
	border: 1px solid black;
	background-color: white;
}

.shippingScreen {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 0.8em;
	padding: 25px 60px 25px 60px;
	background-image: url(../gfx/screen.png);
	display: none;
	z-index: 50000;
}



#game {
	width: 100%;
	height: 100%;
}

#gameInfo { 
	width: 200px; 
	height: 440px;
	float: left; 
	border: 2px solid peru;  
	border-radius: 5px;
	margin: 10px;
	padding: 20px;
	background-color: antiquewhite;
}
#gameInfo h2 {
	margin: 0 0 10px 0;
	padding: 0px;
}
#gameInfo p { 
	margin: 0 0 10px 0;
	padding: 0px;
}

.player1 {
	position: absolute;
	top: 200px;
	left: 305px;
	width: 48px;
	height: 91px;
	background-image: url(../gfx/player.png);
	z-index: 20100;
}

#viewport {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: cornflowerblue;
}

#worldmap {
	width: 200px;
	height: 200px;
	background-image: url(../gfx/world-map.png);
	background-size: contain;
}




#portDockScreen {
	position: absolute;
	display: none;
	width: 500px;
	height: 300px;
	top: 90px;
	left: 70px;
	z-index: 20000;
	background-color: white;
	border: 2px solid tan;
	border-radius: 5px;
	padding: 20px;
}
#portDockScreen h1 {
	margin: 0 0 10px 0;
	padding: 0px;
	text-align: center;
}
#portDockScreen a.button {
	display: block;
	position: absolute;
	width: 60px;
	right: 20px;
	bottom: 20px;
	padding: 10px;
	background-color: peru;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
}




